/*Variáveis*/
:root {
  --bgSite: #d7d4ff;
  --buttonColor: #6c63ff;

  --white: #ffffff;
  --white300: #f9f9f9;

  --title: #2b2b2b;
  --text: #555555;
}

body {
  background: var(--bgSite);
}

textarea {
  resize: none;
}
/* home */

#home .btn {
  background: var(--buttonColor);
  color: var(--white);
}

/* cards */

#cards {
  background: var(--white300);
}

#cards .card {
  width: 21.25rem;
  height: 26.4rem;
}

#cards .card-img {
  width: 100%;
  height: 14rem;

  background: #6c63ff;
}

/* contact */

#contact input,
#contact textarea {
  width: 29.375rem;
}

#contact .contact-area {
  display: flex;
  justify-content: center;

  height: 10.3rem;
}

#contact .btn {
  width: 29.375rem;
}
